<html>
	<title> Tiffany Vargas </title>
		<link type="text/css" rel="stylesheet" href="homepage.css"
			<body>
			<div class= "header">
				<p> Welcome to Tiffanys portfolio </p>
				<head>		
				<script type="text/javascript">
			function ChangeImg(imgName,imgFile){
			document.images[imgName].src=imgFile;


	}
	function PreloadPic(){
		First = new Image();
		Second = new Image();
		Three = new Image();
		Four = new Image();

		First.src="02.png"
		Second.src="04.png"
		Three.src="01.png"
		Four.src="03.png"
		document.bigone.src=Second.src;

}

</script>
</head>
<body onload="PreloadPic()">
<table width="500" align="center">
  <tr>
    <td><a href="javascript:void(0)"><img src="tiff1.jpg"name="left" onmouseover="ChangeImg('bigone','art1.jpg')"></a></td>
    <td><a href="javascript:void(0)"><img src="tiff2.jpg" name="right" onmouseover="ChangeImg('bigone','tiff3.jpg')"></a></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><img src="02.png" name="bigone" width="513" height="513"></td>
  </tr>
</table>
</body>
</html>
