<html>
  <head>
    <title>
      Tiffany Vargas
    </title>
    <link type="text/css" rel="stylesheet" href="about.css">
  </head>
  <body>
    <div class="header">
      <div style="width: 36%; margin-left: auto; margin-right: auto;">
        <div style="display: initial;">
          <img src="images/tiffany.jpg" style="border-radius: 100%; border: 2px solid black; width: 25%; float:left; display: initial;">
        </div>
        <p style="display: inline-block; margin: 9% 0% 3% 1%;font-family: 'prestige' ; ">
          About Tiffany Vargas
        </p>
      </div>
    </div>
  </body>
</html>
