<html>
  <head>
    <title>
      Tiffany Vargas
    </title>
    <link type="text/css" rel="stylesheet" href="about.css">
  </head>
  <body>
    <div class="header">
      <a href="/" style="float:left; margin-left: 2%; font-size: 1.6vw; color: black;"> Home </a>
      <div style="width: 45%; margin-left: auto; margin-right: auto;">
        <div style="display: initial;">
          <img src="images/tiffany.jpg" style="border-radius: 100%; border: 2px solid black; width: 17%; float:left; display: initial;">
        </div>
        <p style="display: inline-block; margin: 9% 0% 3% 1%;font-family: 'prestige' ; ">
          <strong>About Tiffany Vargas</strong>
        </p>
      </div>
      <div style="text-align: center; width: 80%; margin-left: auto; margin-right: auto; font-size: 2vw; margin-top: 7%;">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum ligula eu semper aliquam. Quisque cursus laoreet dui at mattis. Aenean molestie odio at sapien hendrerit, non euismod justo suscipit. Etiam turpis dolor, dapibus sit amet maximus ac, euismod eget tellus. Integer vehicula sollicitudin neque eu fringilla. Donec odio tellus, elementum non efficitur sed, commodo id lectus. Mauris molestie finibus odio in consequat. Donec mattis dolor sit amet eros scelerisque consectetur tincidunt et justo. Morbi sed tortor eu ligula sodales pretium. Pellentesque et nunc eu dui consequat vehicula vitae nec odio. In accumsan viverra aliquet. Praesent elementum, est vel pretium mollis, nisi erat feugiat ante, eget semper nibh nisi sed sem. Donec condimentum elit purus, sed convallis urna feugiat et. Quisque et elit egestas, porta ante non, maximus tortor. Duis rhoncus molestie augue ut interdum.

          Nullam et ex scelerisque, tincidunt orci vel, condimentum tellus. Nam laoreet vehicula elit non congue. Nunc varius odio sed nulla pharetra dictum. Aliquam nulla massa, mollis ut nulla sed, mattis tempor ipsum. Etiam odio nibh, cursus vel interdum vitae, varius eu orci. Nulla magna nisi, pellentesque nec condimentum dictum, rhoncus et odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In et lacus finibus, ultrices libero eu, euismod dolor. Vivamus ac turpis quis nulla interdum commodo. Quisque at tellus quam. Mauris nec justo eu nunc tristique condimentum eu maximus massa.

          Integer pellentesque ullamcorper leo, eget ultrices sapien ullamcorper vel. Nulla non fringilla lacus. Nullam consequat convallis placerat. Curabitur pellentesque dictum accumsan. Donec hendrerit dapibus arcu, id blandit nulla semper quis. Nulla facilisi. Suspendisse potenti. Donec id ante ut tortor tristique tempor. Phasellus posuere lacus a purus ullamcorper, quis varius urna facilisis. Nam sed odio aliquam, scelerisque massa quis, tincidunt nisi. Aenean sapien leo, lobortis id ante et, mollis posuere lorem.
        </p>
      </div>
    </div>
    <div style="text-align: center; font-size: 1vw; margin-top:4%">
      <p>
        An ASDO Production
      </p>
    </div>
  </body>
</html>
