<html>
	<head>
		<title> Tiffany Vargas </title>
		<link type="text/css" rel="stylesheet" href="homepage.css">
	</head>
	<body>
		<div class= "header">
			<p> Welcome to Tiffanys portfolio </p>
			<div class= "gallerybox">
			</div>
		</div>
	</body>
</html>