<html>
	<head>
		<title> Tiffany Vargas </title>
		<link type="text/css" rel="stylesheet" href="homepage.css">
	</head>
	<body>
		<div class= "header">
			<p style= "text-align: center;margin-bottom: 120; font-size: 200%; margin-top: 5%">
				Welcome to Tiffanys Portfolio </p>
		</div>
		<table border="0" cellpadding="0" style="margin-left:auto; margin-right: auto;">
			<tbody>
				<tr>
					<td align="center" valign="center" >
						<div class="projects" style="background:url(images/art1.jpg) no-repeat; background-size: 100%;">
							<a href="" style="text-decoration: none; font-size: 1.3vw; color: white;">
								<div class="projectsoverlay">
									<div style="border: .2em solid white; width: 50%; margin-top: 50%;">
										<p class="projtitle">
											lorem
										</p>
									</div>
								</div>
							</a>
						</div>
					</td>
					<td align="center" valign="center" >
						<div class="projects" style="background:url(images/tiff1.jpg) no-repeat; background-size: 100%;">
							<a href="" style="text-decoration: none; font-size: 1.3vw; color: white;">
								<div class="projectsoverlay">
									<div style="border: .2em solid white; width: 50%; margin-top: 50%;">
										<p class="projtitle">
											lorem
										</p>
									</div>
								</div>
							</a>
						</div>
					</td>
					<td align="center" valign="center" >
						<div class="projects" style="background:url(images/tiff2.jpg) no-repeat; background-size: 100%;">
							<a href="" style="text-decoration: none; font-size: 1.3vw; color: white;">
								<div class="projectsoverlay">
									<div style="border: .2em solid white; width: 50%; margin-top: 50%;">
										<p class="projtitle">
											lorem
										</p>
									</div>
								</div>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
			<div style="text-align: center; font-size: 1vw;">
				<p>
					An ASDO Production
				</p>
			</div>
	</body>
</html>
